* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.loader_bg {
  position: fixed;
  z-index: 9999999;
  background: #fff;
  width: 100%;
  height: 100%;
}

.loader {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader img {
  width: 280px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #015c19;
}

::-webkit-scrollbar-thumb:hover {
  background: #13079c;
}

/*  Simillar  */

section {
  padding: 100px 0;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.about,
.services,
.skills,
.projects,
.contact,
footer {
  font-family: "Poppins", sans-serif;
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: #036b0a;
  padding: 0 5px;
  transform: translateX(-50%);
}
/*  Navbar  */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 10px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}

.navbar a img {
  height: 50px;
  width: 200px !important;
  object-fit: cover;
}
.navbar.sticky {
  padding: 5px 0;
  background: #f5d906;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

/*  Nav Logo Span Linear-Gradient  */
.navbar .logo a span {
  background: rgb(17, 104, 4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: #205a0d;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: #f1f1f1;
  font-size: 15px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: #05540b;
}

.navbar.sticky .menu li a:hover {
  color: #05540b;
}

/*  Menu Btn  */
.menu-btn {
  color: #f0eeeb;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #297903;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.scroll-up-btn:hover {
  filter: brightness(90%);
}

/*  Home  */
.home {
  display: flex;
  background: url("Untitled\ \(1000\ x\ 500\ px\).png") no-repeat center;
  background-size: cover;
  gap: 4px;
  color: white;
  min-height: 800px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
  align-items: center;
  justify-content: space-between;
}

/*  Cureency Convrt  */
.container1 {
  background-color: #f5d906;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* margin-left: 2%; */
  margin-top: 10%;
  /* margin-bottom: 10%; */
  height: max-content;
  width: 300px;
}

.container1 h1 {
  color: #05540b;
  margin-bottom: 20px;
  font-size: 0.6cm;
  text-decoration: none;
}

.converter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#amount {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
#currency,
#toCurrency {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#currency,
#fromCurrency {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #003873;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #015908;
}

#result {
  color: red;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
  font-style: oblique;
}
/* add slider */

.slider {
  width: 500px;
  height: 350px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  position: absolute;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; /* Start with all images hidden */
  transition: opacity 1s ease; /* Smooth fade transition */
}

.slider img.active {
  opacity: 1; /* Show the active image */
}
.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  object-fit: cover;
  font-weight: 900;
}

.slider #prevBtn {
  left: 10%;
}

.slider #nextBtn {
  right: -10%;
}

/*  Cureency information */
.container2 {
  background-color: #f5d906;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* margin-left: 48%; */
  margin-top: 10%;
  /* margin-bottom: 10%; */
  height: max-content;
  width: 300px;
}

h1 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: none; /* Remove table border */
}

th,
td {
  padding: 10px;
  text-align: left;
  color: black; /* Ensure table text is black */
  border: none; /* Remove cell borders */
}

th {
  background-color: #f2f2f2;
  color: black; /* Ensure header text is black */
}

td img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

tbody tr:nth-child(odd) {
  background-color: yellow;
}

tbody tr:nth-child(even) {
  background-color: white;
}

.home .max-width {
  width: 100%;
  display: flex;
}

.home .max-width .row {
  margin-right: 0;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

/* Linear Gradient */
.home .home-content .text-3 span {
  color: #fc9106;
  background: #fc9106;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;
  background: #fc9106;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid #fc9106;
  transition: all 0.3s ease;
}

.home .home-content a:hover {
  color: #fc9106;
  background: none;
  animation: pulsate 1s ease-in-out;
}

/*  About  */
.about {
  background: radial-gradient(#e1efff, white);
}
.about .title::after {
  content: "—Who We Are ?—";
  text-overflow: ellipsis;
  display: -webkit-inline-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.container {
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.about p {
  margin-top: 20%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  font-size: 150%;
}

.text {
  flex: 1;
  padding: 20px;
}

.image {
  flex: 1;
  text-align: center;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
  }
}
/*  Service  */
.services,
.projects {
  color: #fff;
  background: #fefefb;
}

.services .title::before,
.projects .title::before {
  background: #fff;
}

.services .title::after,
.projects .title::after {
  background: #f8f7f5;
  content: "What We Provide ?";
}
/* this is for money exchange */
.services .serv-content .card {
  width: calc(50% - 20px);
  background: #003873;
  text-align: center;
  border-radius: 10px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 1s ease;
}

.services .serv-content .card:hover {
  background: url("jaz.png") no-repeat center;
}

.services .serv-content .card .box {
  transition: all 0.1s ease;
}

.services .serv-content .card:hover .box {
  transform: scale(0.1s);
}

.services .serv-content .card i {
  font-size: 50px;
  color: #888e8d;
  background: linear-gradient(135deg, #041d3d, #fff, crimson);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s ease;
}

.services .serv-content .card:hover i {
  color: #fff;
}

.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
/* this is for jazzcash */

.services .serv-content .card1 {
  width: calc(50% - 20px);
  background: #003873;
  text-align: center;
  border-radius: 10px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 1s ease;
}

.services .serv-content .card1:hover {
  background: url("cur.png") no-repeat center;
}

.services .serv-content .card1 .box {
  transition: all 0.1s ease;
}

.services .serv-content .card1:hover .box {
  transform: scale(0.1s);
}

.services .serv-content .card1 i {
  font-size: 50px;
  color: #888e8d;
  background: linear-gradient(135deg, #041d3d, #fff, crimson);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s ease;
}

.services .serv-content .card1:hover i {
  color: #fff;
}

.services .serv-content .card1 .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

/* just check for about portion  */
@keyframes colorChange {
  0% {
    color: #333;
  }
  25% {
    color: #007bff;
  }
  50% {
    color: #28a745;
  }
  75% {
    color: #ffc107;
  }
  100% {
    color: #dc3545;
  }
}

h2 {
  color: #01060c;
}
h3 {
  color: #015c19;
  margin: 20px 0;
  text-align: center;
  margin-top: 10%;
  font-family: " Times, serif";
  font-weight: 900;
}
h1 {
  font-size: 2.5em;
  color: #f5d906;
  margin: 10px 0;
  text-align: center;
  text-decoration: underline;
}

.blocks-row1,
.blocks-row {
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 20px;
  flex-wrap: wrap;
}

.blocks-row1 {
  justify-content: flex-start;
}

.blocks-row1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 50px;
  justify-items: center; /* Centers grid items horizontally */
}

.blocks-row1 .block {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
  max-width: 350px;
  position: relative;
  overflow: hidden;
}

.blocks-row1 .block:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.blocks-row1 .block img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 2px solid #f5d906;
  padding: 10px;
  background-color: #f5f5f5;
}

.blocks-row1 .block h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.blocks-row1 .block p {
  font-size: 1rem;
  line-height: 1.6;
  color: #666;
}

.blocks-row1 .block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #f5d906;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.block {
  background-color: #fefefb;
  border: 1px solid #fefefb;
  border-radius: 10px;
  box-shadow: 0 4px 8px #fefefb;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  width: calc(33.33% - 40px);
  margin: 10px;
}
.block1 {
  background-color: #fefefb;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  width: calc(33.33% - 40px);
  margin: 10px;
}
.block:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.block:hover h3,
.block:hover p,
.block:hover h2,
.block:hover a {
  animation: colorChange 4s infinite;
}
.block1:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.block1:hover h3,
.block1:hover p,
.block1:hover h2,
.block1:hover a {
  animation: colorChange 4s infinite;
}
.block img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.block h3,
.block p,
.big-block h2,
.big-block p {
  transition: color 0.1s;
}
.block1 h3,
.block1 p,
.big-block h2,
.big-block p {
  transition: color 0.1s;
}
.block1 h1 {
  color: #052886;
  text-decoration: none;
}
.block h3 {
  font-size: 1.5em;
  margin: 10px 0;
  justify-content: center;
}
.block p {
  font-size: 0.9em;
  color: #666;
  justify-content: center;
}
.block1 h1 {
  margin: 10px 0;
  justify-content: left;
}
.block1 p {
  font-size: 0.9em;
  color: #666;
  justify-content: left;
}
.big-block h2 {
  font-size: 2em;
  color: #333;
  margin: 20px 0;
  justify-content: center;
}
.big-block p {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
  justify-content: center;
}
.animated-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}
.animated-button {
  margin-top: 5%;
  justify-items: left;
}
.animated-button:hover {
  background-color: #0056b3;
  transform: translateY(-5px);
}

/*  Skills  */
.background-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("coin\ pic.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding: 50px 0;
}

.center-content {
  display: flex;
  justify-content: space-around;
  width: 80%;
  max-width: 1200px;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  margin-right: 3%;
}

.stat-item {
  text-align: center;
  flex: 1;
  margin: 30px;
}

.number {
  font-size: 4em;
  font-weight: bold;
}

.label {
  font-size: 2em;
  margin-top: 5%;
  font-weight: 600;
  color: #f5d906;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media (max-width: 768px) {
  .center-content {
    flex-direction: column;
    align-items: center;
  }

  .stat-item {
    margin-bottom: 20px;
  }
}

/*  Branches  */
.branches {
  background-color: #f5d906;
}
.branches .title::after {
  content: "Where we are";
}
.branches .carousel .card {
  background: #f5d906;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  overflow: hidden;
  transition: all 1s ease;
}

.branches .carousel .card:hover {
  background: #f5d906;
}

.branches .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
}

.branches .carousel .card:hover .box {
  transform: scale(1.05);
}

.branches .carousel .card .text {
  font-size: 25px;
  font-weight: 900;
  margin: 10px 0 7px 0;
  color: #05540b;
  text-decoration: underline;
}

.branches .carousel .card img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #888c8d;
  transition: all 0.1s ease;
}

.branches .carousel .card:hover img {
  border-color: #fff;
  border-radius: 5%;
  border: 0px;
}
.branches .carousel .card:hover .text {
  font-size: 25px;
  font-weight: 900;
  margin: 10px 0 7px 0;
  color: #003873;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #888c8d !important;
  transition: all 0.1s ease;
}

.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
  background: #00254d !important;
}

/*  Contact  */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.text-center {
  text-align: center;
}
/* .py-5 {
    padding: 3rem 0;
} */
/* .border {
    border-width: 1px;
    border-style: solid;
    /* border-color: #ccc; */
/* } */
.section-padding {
  padding: 60px 0;
}
.section-padding .title {
  padding-bottom: 0;
  margin-bottom: 0;
}
.section-title h5 {
  font-size: 16px;
  color: #052886;
  margin-bottom: 10px;
}
.section-title h3 {
  font-size: 36px;
  margin-bottom: 30px;
}
.section-title h3 span {
  color: #052886;
}
.single-address {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 300px; /* Fixed width for each block */
  margin: 10px;
}
.single-address:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.single-address-icon {
  font-size: 40px;
  color: #052886;
  margin-bottom: 20px;
}
.single-address h4 {
  font-size: 24px;
  margin-bottom: 10px;
}
.single-address p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}
.single-address-link a {
  color: #052886;
  text-decoration: none;
  font-size: 16px;
}
.single-address-link a:hover {
  text-decoration: underline;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fa-brands {
  color: #fff;
}

.fa-solid {
  color: #fff;
}
/*  Carrers Page  */
/*  Carrers Page  */
.header {
  text-align: center;
  padding: 50px 20px;
  background-color: #f5d906;
  color: white;
  animation: fadeInDown 1s ease-in-out;
}

.header h1 {
  margin: 0;
  font-size: 36px;
  margin-top: 8%;
  color: rgb(2, 84, 2);
}

.header p {
  font-size: 18px;
  margin-top: 10px;
  color: rgb(3, 3, 103);
}

.careers-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.career-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 20px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  transform: translateY(100px);
  opacity: 0;
  animation: fadeInUp 1s ease-in-out forwards;
}

.career-card h2 {
  font-size: 24px;
  margin-top: 0;
}

.career-card .underline {
  width: 50px;
  height: 3px;
  background-color: #f5d906;
  margin: 10px 0;
  animation: slideInLeft 0.5s ease-in-out;
}

.career-card p {
  font-size: 16px;
  margin: 20px 0;
}

.career-card a {
  background-color: #fcec6e;
  color: rgb(7, 1, 1);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: infinite;
}

.career-card a:hover {
  background-color: #f5d906;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
/*  aml (anti money lamdring) */
/*  aml (anti money lamdring) */
/* .amlheader {
    text-align: center;
    padding: 50px 20px;
    background-color: #3498db;
    color: white;
    animation: fadeInDown 1s ease-in-out;
}

.amlheader h1 {
    margin: 0;
    font-size: 36px;
}

.amlheader p {
    font-size: 18px;
    margin-top: 10px;
}

.main-content {
    padding: 20px;
}

section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    opacity: 0;
    transform: translateY(100px);
    animation: fadeInUp 1s ease-in-out forwards;
    position: relative;
}

section h2 {
    font-size: 24px;
    margin-top: 0;
    position: relative;
}

.underline {
    width: 50px;
    height: 3px;
    background-color: #3498db;
    margin: 10px 0;
    animation: slideInLeft 0.5s ease-in-out;
}

section p {
    font-size: 16px;
    line-height: 1.6;
}

section ul {
    list-style: none;
    padding-left: 0;
}

section ul li {
    padding: 10px 0;
    position: relative;
    padding-left: 30px;
    font-size: 16px;
}

section ul li:before {
    content: "✔";
    color: #3498db;
    position: absolute;
    left: 0;
    font-size: 20px;
}

.icon {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0;
    transform: scale(0.8);
    animation: popIn 0.8s ease-in-out forwards;
}

.icon img {
    width: 50px;
    height: 50px;
}


@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        width: 0;
    }
    to {
        width: 50px;
    }
}

@keyframes popIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}  */

/*  Footer information Detail */
.info-section {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-image: url("footr\ background.jpg"); /* Replace with your local image file */
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.column {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1px;
  position: relative;
  align-items: center;
}

.column1 {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent background for better text readability */
  border-radius: 1px;
  position: relative;
  align-items: center;
}
.column1 h3 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: left;
}
.column1 p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(204, 204, 204);
}

.info-section h2 {
  color: white;
  margin-top: 0;
  position: relative;
  padding-bottom: 10px;
  font-size: 24px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: underline;
}

.heading-line {
  width: 0;
  height: 3px;
  background-color: #e5eff5;
  position: absolute;
  bottom: -2px; /* Position the line just below the heading */
  left: 0;
  transition: width 0.3s ease;
}

.info-section h2:hover + .heading-line {
  width: 50%; /* Line grows to 50% of the heading's width on hover */
  color: white;
}

.info-section p {
  margin-top: 30px;
  font-size: medium;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.info-section a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
  padding: 10px 0;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.info-section a span {
  margin-right: 10px;
  font-size: 18px;
}

.info-section a:hover {
  color: #f5d906;
}
/*  Footer  */
footer {
  background: #f5d906;
  padding: 6px 16px;
  color: #024455;
  text-align: center;
}

footer span a {
  color: #003270;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

footer p span {
  text-align: center;
  color: #031c9a;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
footer span a:hover {
  text-decoration: underline;
}

/*  Media Query  */
@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px #888e8d, 0 0 50px #1e3551;
  }
}

@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
  section .title::after {
    bottom: -8px;
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .social-menu ul li a {
    left: 114px;
  }
}

@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .navbar a img {
    width: 10vw;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }

  /* Home Responsive For small Devices */
  .home .slider {
    width: calc(100% - 20px);
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    top: 3%;
    height: 300px;
  }
  .home .max-width {
    flex-direction: column;
  }
  .home .container1 {
    margin-top: calc(350px + 3%);
  }
  .home .container2 {
    position: relative;
    margin-top: calc(-20px - 3%);
    z-index: 10;
    align-self: end;
  }

  /* services responsiveness */
  .blocks-row .block,
  .blocks-row .block1 {
    width: calc(100% - 50px);
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
  }
  .services .serv-content .card,
  .services .serv-content .card1 {
    width: 100%;
  }

  .info-section{
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
  .about .about-content .right .text,
  .skills .skills-content .left .text {
    font-size: 19px;
  }
  .contact .right form .fields {
    flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }
  .right form .error-box {
    width: 150px;
  }
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}
